---
title: "The 2019 Global Developer Survey is now open! Share your thoughts to
shape the industry."
author: Suri Patel
author_gitlab: suripatel
author_twitter: gitlab
categories: insights
image_title: '/images/blogimages/2019-developer-survey-cover.png'
description: "What do you need in order to thrive? From fewer delays in the
development process to early detection of security vulnerabilities, we want to
identify what you need to move ideas into action."
tags: developer survey, DevOps, community
cta_button_text: 'Take the survey'
cta_button_link: 'https://www.surveymonkey.com/r/KY2WBCK'
twitter_text: "The 2019 Global Developer Survey is open! Share your thoughts to
shape the industry (and win an iPad Pro)"
postType: content marketing
featured: yes
---

As software professionals, you are the creators, builders, researchers, and
problem solvers of technology, and your opinions should be the pulse of the
industry. We passionately believe that [everyone can contribute](/company/strategy/#mission),
so we created the Global Developer Survey as a way to help you influence the way
you, your team, and your managers code, test, and deploy. By voicing your
thoughts in the Developer Survey, you can shape a solution-focused approach
to industry-wide challenges. We hope that, together, we can drive industry
dialogue around the needs of today’s software professionals, sparking a movement
to remove roadblocks and focus on helping teams thrive.

We'll examine the findings from the Developer Survey and provide a summary and
analysis in the Developer Report, which will be published in May.
This comprehensive report dissects cross-functional relationships and offers insights
into successful practices, problem areas, and potential solutions. In our
[previous reports](/developer-survey), we explored what teams need in order to
do their best work. This year, we want to uncover what software professionals
need in order to rapidly innovate. Whether you need more accurate estimates on
planning features, a decrease in development process delays, or early detection
of security vulnerabilities, we want to identify your needs.

## How the survey works

The survey takes less than 20 minutes to complete and includes
approximately 45 questions. The survey is anonymous, and the data and results
will be reviewed in aggregate. We’re covering a large range of topics this year,
including delays in the development lifecycle, planning features, and security analysis.

To ensure that the Developer Survey asks the right questions to elicit strong
findings, the UX research team collaborated on the survey, and we tested the
questions with the GitLab engineering team to gather feedback and suggestions
for improvement.

The survey is open to anyone involved in software engineering – from developers
and engineers and security professionals to DevOps managers and IT executives.
If you're involved in software engineering, we'd love to hear your thoughts!

## Swag and iPad Pro giveaway

We’re so grateful that you’re partnering with us to learn about the industry,
so we’re giving away five GitLab messenger bags and one iPad Pro! Each week, we’ll
randomly select one respondent to receive a messenger bag. To enter to win the
iPad Pro, please take the survey, share the survey on social, and send a link to your
public post to giveaways@gitlab.com. We’ll randomly select a winner when the
survey closes. Good luck! We hope you win. 😃

## Frequently asked questions

**What is the Global Developer Survey?**

The Developer Survey is an anonymous questionnaire that gathers insights from software
professionals to reflect the growing needs and viewpoints of the industry.

**What is the Global Developer Report?**

The Global Developer Report is a summary and analysis of the findings gathered in
the Developer Survey. It dissects cross-functional relationships and offers
insights into successful practices, problem areas, and potential solutions.

**What is GitLab’s role?**

While the Developer Report is published by GitLab, it’s not about GitLab. As
software professionals, your words have the power to shape the industry, inform
leadership, and set trends, and your thoughts drive the survey. GitLab only
wants to help you amplify your voices.

**When does the survey open/close?**

The survey opens on Jan. 23 at 8am PT and closes on Feb. 27 at 11:59pm PT.

**How do I win a prize?**

To enter to win a messenger bag, please complete the survey and enter your email address.
To enter to win the iPad Pro, please take the survey and enter your email address, share
the survey on social, and send a link to your public post to giveaways@gitlab.com.

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
[Take the survey](https://www.surveymonkey.com/r/KY2WBCK)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

*You must complete the survey and provide an email address to be eligible to
win a prize. Your privacy is important to us, so email addresses will only be used for the
giveaway draw and will not be saved.* [Please read the official sweepstake
rules here.](https://about.gitlab.com/community/sweepstakes/2019-developer-survey.index.html)
{: .note}
