---
layout: markdown_page
title: "Manage Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

### Manage
{: #welcome}

The purpose of this page is to document engineering-led processes and initiatives
specific to the Manage team.

The responsibilities of this team are described by the [Manage product
category](/handbook/product/categories/#manage). Among other things, this means
working on GitLab's functionality around user, group and project administration,
authentication, access control, and subscriptions.

To find out more about what areas of the product we are responsible for,
the product vision, and the product process (e.g. how to get Issues prioritized),
then please head over to the [Manage product page](/handbook/product/categories/manage).

### Team members

<%= direct_team(manager_role: 'Engineering Manager, Manage & Growth') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Manage/, direct_manager_role: 'Engineering Manager, Manage & Growth') %>

### Working on unscheduled issues

Everyone at GitLab has the freedom to manage their work as they see fit,
because [we measure results, not hours][results]. Part of this is the
opportunity to work on items that aren't scheduled as part of the
regular monthly release. This is mostly a reiteration of items elsewhere
in the handbook, and it is here to make those explicit:

1. We expect people to be [managers of one][efficiency], and we [use
   GitLab ourselves][collaboration]. If you see something that you think
   is important, you can [request for it to be scheduled], or you can
   [work on a proposal yourself][iteration], _as long as you keep your
   other [priorities][priority board] in mind_.
2. From time to time, there are events that GitLabbers can participate
   in, like the [issue bash] and [content hack days]. Anyone is welcome
   to participate in these.

When you pick something to work on, please:

1. Follow the standard workflow and assign it to yourself.
2. Share it in `#g_manage` to encourage [transparency]

[collaboration]: /handbook/values/#collaboration
[results]: /handbook/values/#results
[efficiency]: /handbook/values/#efficiency
[iteration]: /handbook/values/#iteration
[transparency]: /handbook/values/#transparency

[request for it to be scheduled]: /handbook/engineering/workflow/#requesting-something-to-be-scheduled
[issue bash]: /community/issue-bash/
[content hack days]: /handbook/marketing/corporate-marketing/content/content-hack-day/
[priority board]: https://gitlab.com/groups/gitlab-org/-/boards/704240
